<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>presswork Markov Chain text maker</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
        type="text/css">
</head>

<body>
{% import "macros.html" as macros %}
<div class="container">
  <h1>Markov Chain
    <small>Text Generator</small>
  </h1>

  <div class="col-md-7">
    {% if text_made %}
    <h4><em>{{ text_made_title }}</em></h4>
    <div>
      {{ text_made }}
    </div>
    {% endif %}
  </div>

  <div class="col-md-12">
    {% if text_made %}
    <hr/>
    {% endif %}

    <h4>Instructions</h4>

    <div>
      <p>
        Paste your source texts. Try mixing text from different sources.
        Hit <em>Submit</em> to generate new text using
        <a href="https://en.wikipedia.org/wiki/Markov_chain" target="_blank">Markov</a>
        <a href="https://blog.codinghorror.com/markov-and-you/" target="_blank">Chains.</a>
      </p>
    </div>

    <form action="/" method="post">
      <div class="form-group">
        {{ form.text.label }}
        <textarea class="form-control" rows="20" id="text"
                  name="text">{{ form.text.default if form.text.default }}</textarea>
      </div>
      <div class="form-group">
        {{ macros.form_field(form.window) }}
      </div>
      <div class="form-group">
        {{ macros.form_field(form.count_of_sentences_to_make) }}
      </div>
      {{ form.csrf_token }}
      <button type="submit" class="btn btn-default">Submit</button>

    </form>
  </div>
</div>

</body>
</html>